<div class="wrapper fadeInDown" style="margin-top: 5%">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="../../../assets/images/log1.jpg" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form [formGroup]="form">
      <h3 class="text-danger"><strong>{{err}}</strong></h3>
<!--      <input type="text" required id="username" formControlName="username"  class="fadeIn second" name="username" placeholder="Username">-->
      <input type="password" required id="password" formControlName="password"  class="fadeIn second" name="password" placeholder="Password">
      <input type="password" required id="confirmPassword" formControlName="confirmPassword" class="fadeIn third" name="confirmPassword" placeholder="Confirm password">
      <input type="button" (click)="changePassword()" class="fadeIn fourth" value="Validate">
      <mat-progress-spinner style="margin-left: 45%"
                            mode="indeterminate" strokeWidth="20"
                            color="primary" diameter="30" *ngIf="progressbar">
      </mat-progress-spinner>
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#"></a>
    </div>

  </div>
</div>
