<mat-card>
  <h1>
    Gestion des commandes
  </h1>
  <ol class="breadcrumb text-right">
    <li><a href="#"><i class="fa fa-dashboard"></i> Accueil</a></li>
    <li class="active">Commandes</li>
  </ol>
</mat-card>

<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box box-widget no-radius">
        <div class="box-header">
          <div class="box-title">
            <button [routerLink]="'/sales/paiement/add'" class="btn btn-primary" color="primary"
                    mat-raised-button type="button">
              <em class="fa fa-plus"></em>&nbsp;Ajouter
            </button>
          </div>
          <div class="box-tools">
            <form #search_form="ngForm" class="form-inline pull-right" name="searchForm">
              <div class="input-group">
                <input [(ngModel)]="searchItem" class="form-control no-radius" id="currentSearch" name="currentSearch"
                       required type="text">
                <div class="input-group-btn">
                  <button (click)="search()" [disabled]="!search_form.valid" class="btn btn-default no-radius">
                    <i class="fa fa-search"></i>
                  </button>
                  <button (click)="resetSearch()" [disabled]="!search_form.valid"
                          class="btn btn-danger margin-r-5 no-radius">
                    <i class="fa fa-undo"></i>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="box-body">
          <div class="tabbable">
            <ul class="nav nav-tabs" id="myTab">
              <li (click)="loadPaiement()" class=""><a class="btn btn-success" data-toggle="tab"
                                                       href="#archive"> Liste paiements</a></li>
              <li (click)="loadPaiementArchived()" class=""><a class="btn btn-success" data-toggle="tab"
                                                               href="#nonArchive"> Liste paiements archivées </a></li>
            </ul>

            <div class="tab-content">
              <ngx-spinner [fullScreen]="false" [name]="SPINNER_NAME" size="medium" type="timer"></ngx-spinner>
              <div class="tab-pane active" id="archive">
                <div *ngIf="paiementList?.length === 0" class="alert alert-warning no-radius">
                  <span>Aucun résultat trouvé</span>
                </div>
                <div class="table-responsive">
                  <table *ngIf="paiementList && paiementList.length > 0" aria-describedby="page-heading"
                         class="table table-striped">
                    <thead>
                    <tr>
                      <th>N°</th>
                      <th>Code</th>
                      <th>Client</th>
                      <th>Date commande</th>
                      <th>Date Livraison</th>
                      <th>Détails</th>
                      <th>Factures</th>
                      <th>Etat</th>
                      <th class="text-center">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="tab-pane" id="nonArchive">
                <div *ngIf="paiementListArchived?.length === 0" class="alert alert-warning no-radius">
                  <span>Aucun résultat trouvé</span>
                </div>
                <div class="table-responsive">
                  <table *ngIf="paiementListArchived && paiementListArchived.length > 0" aria-describedby="page-heading"
                         class="table table-striped">
                    <thead>
                    <tr>
                      <th>N°</th>
                      <th>Libellé</th>
                      <th class="text-center">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="box-footer"></div>
      </div>
    </div>
  </div>
</section>

<div aria-hidden="true" aria-labelledby="deleteModal" class="modal fade" id="deleteModal" role="dialog" tabindex="-1">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Suppression paiement</h5>
        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <strong>Êtes-vous sur de vouloir le supprimé ?</strong>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" data-dismiss="modal" type="button">NON</button>
        <button (click)="delete()" class="btn btn-danger" data-dismiss="modal" type="button">OUI</button>
      </div>
    </div>
  </div>
</div>
